p {
  color: red;
  text-align: center;
}

#test-id-1 {
  color: purple;
}

h1 {
  font-style: italic;
  font-size: 300%;
  color: blue;
}

.test-class {
  text-shadow: 3px 3px green;
}

a:hover {
  color: yellow;
  font-size: xxx-large;
  text-shadow: 3px 3px green;
}
